<template>
  <div class="home">
    <h1>Data from Laravel API</h1>
    <div>
       {{ data}}
    </div>
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import axios from 'axios';

export default {
  data() {
    return {
      data: []
    };
  },
  name: 'HomeView',
  components: {
    HelloWorld
  },
  mounted() {
    axios.get('http://127.0.0.1:8000/api/test')
        .then(response => {
          this.data = response.data;
        })
        .catch(error => {
          console.error('Error fetching data from Laravel API:', error);
        });
  },

}
</script>
