<template>
  <div class="kontakt">
    <h1> {{ result }}</h1>
  </div>
</template>

<script>

import axios from'axios';


 export default {

   data(){
     return {
       result : null
     }
   },

   created() {
     axios.get('http://127.0.0.1:8000/api/contact')
     .then(response => {
       this.result = response.data;

       console.log(response)
     })

     .catch(error => {
       console.error('Error fetching data fron larvel Api:', error);
     })
   }
 }

</script>
